.card {
  margin-bottom: 10px;
  border: 1px solid #f8f8f8;
  padding: 20px;
  width: 210px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  .plus {
    cursor: pointer;
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 14px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }
}
