* {
  font-family: "Inter", system-ui;
}
body {
  background: #e7f6ff;
  margin: 0px;
  font-family: "Inter", system-ui;
}
.wrapper {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
.button {
  background: #fff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  width: 250px;
  img {
    padding-left: 5px;
  }
  input {
    border: 0px;
    padding: 12px;
    font-size: 16px;
    padding-left: 5px;
  }
}